E2E_BASE_URL=http://localhost:4200
E2E_API_BASE_URL=http://trackora.techlabeg.com/v1

E2E_ADMIN_BASE_URL=http://localhost:4203
E2E_MERCHANT_BASE_URL=http://localhost:4201
E2E_COURIER_BASE_URL=http://localhost:4202
E2E_OWNER_BASE_URL=http://localhost:4204

E2E_ADMIN_PHONE=
E2E_ADMIN_PASSWORD=

E2E_MERCHANT_PHONE=
E2E_MERCHANT_PASSWORD=

E2E_COURIER_PHONE=
E2E_COURIER_PASSWORD=

E2E_OWNER_PHONE=01013453391
E2E_OWNER_PASSWORD=Owner@123456

E2E_OWNER_LIMITED_PHONE=
E2E_OWNER_LIMITED_PASSWORD=
